$font-padrao: 'Open Sans', sans-serif;

$cinza-escuro: #444;
$laranja-padrao: #ffb33c;

$cor-background: rgba(0,0,0,0.5);
$cor-background-escuro: rgba(0,0,0,0.7);

$cor-texto-cinza-padrao: $cinza-escuro;